<h1 class="text-center py-4 text-3xl font-bold">AMAZON PRODUCTS</h1>
<div>
    <div *ngIf="isApiCall" class="flex flex-wrap">
        <div class="mx-auto py-4 cursor-pointer">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Loading Title</mat-card-title>
                    <mat-card-subtitle>Loading Subtitle</mat-card-subtitle>
                </mat-card-header>
        <img mat-card-image src="" alt="Photo of Product">
        <mat-card-content>
          <p>
            Loading Price
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Buy Now</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
</div>
    <div *ngIf="!details" class="flex flex-wrap">
        <div *ngFor="let prod of product ; index as i" class="mx-auto py-4 cursor-pointer" (click)="sendData(prod)">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{prod.title}}</mat-card-title>
                    <mat-card-subtitle>{{prod.description}}</mat-card-subtitle>
                </mat-card-header>
        <img mat-card-image src={{prod.images[0]}} alt="Photo of Product">
        <mat-card-content>
          <p>
            ${{prod.price}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Buy Now</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
</div>
        <div *ngIf="details">
            <app-product-details [employees]="employees"></app-product-details>
          <button class="" (click)="returnToHome()" mat-raised-button>Go Back</button>
        </div>
</div>
